@tailwind base;
@tailwind components;
@tailwind utilities;


/* .bg,
[class*=bg--] {
  --bg-val: var(--theme-background-special-fade, #0078d4);
  background: var(--bg-val) !important
}

.bg-img {
  --bg-img-val: var(--root-gradient-mesh-brilliant-blue, linear-gradient(122deg, #b3daf0 -18.47%, #54a5e2 50.34%, #8ac1eb 118.47%));
  background-image: var(--bg-img-val) !important
}

.bg-color {
  --bg-color-val: var(--root-color-brilliant-blue-500, #0078d4);
  background-color: var(--bg-color-val) !important
} */

.bg,
[class*=bg--] {
  --bg-val: hsl(var(--muted));
  background: var(--bg-val) !important
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;


  }
}

@layer base {

  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--primary-foreground));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 3px;
  opacity: .7;
}